* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

/**Web Header**/
.header-container {
    height: 450px;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 60px 0px 60px;
}

.moto {
    color: #272727;
    width: 708px;
    font-size: 60px;
    font-weight: 800;
}

.short-msg {
    margin-top: 30px;
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.side-img {
    height: 450px;
    width: 400px;
    padding: 0px 20px;
}

.btn {
    margin-top: 30px;
    background-color: #E55473;
    padding: 20px 35px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

/**Feature Section**/
.features {
    height: 550px;
}

.features-content {
    margin-top: 100px;
    text-align: center;
}

.features-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.features-descriptin {
    color: rgba(39, 39, 39, 0.60);
}

.feature-box {
    display: flex;
    justify-content: space-around;
    /* margin-right: 40px; */
}

.flower-img-1 {
    padding: 50px 20px 0px 20px;
    width: 250px;
    height: 270px;
    margin-top: 100px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.flower-img-2 {
    padding: 20px 20px 0px 20px;
    width: 250px;
    height: 300px;
    margin-top: 100px;
    border-radius: 300px 300px 0px 0px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.flower-img-3 {
    padding: 20px 20px 0px 20px;
    width: 250px;
    height: 300px;
    margin-top: 100px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
}

.flower-name {
    text-align: center;
}

/**Service Section**/
.services {
    text-align: center;
    gap: 30px;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 80px;
    margin-bottom: 100px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
}

/**Discount-Banner**/
.discount-banner {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 100px;
    padding: 40px;
    margin-bottom: 90px;

}

.banner-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

/* .banner-content{
   
} */
.banner-img {
    width: 150px;
    height: 200px;
}